.intro{
    background-image: url(../img/intro-bgimage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

body{
    background-color:#d6d9eb;
  }

  /* LOADER  */
.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
  }
  
  #loader-2 span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
  }
  
  #loader-2 span:nth-child(1) {
    animation: bounce 1s ease-in-out infinite;
  }
  
  #loader-2 span:nth-child(2) {
    animation: bounce 1s ease-in-out 0.33s infinite;
  }
  
  #loader-2 span:nth-child(3) {
    animation: bounce 1s ease-in-out 0.66s infinite;
  }
  
  @keyframes bounce {
  
    0%,
    75%,
    100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25% {
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }

  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* LOADER  */
.loader {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-2 span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #3498db;
  margin: 35px 5px;
}

#loader-2 span:nth-child(1) {
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2) {
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3) {
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce {

  0%,
  75%,
  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/* HEADER */
.header {
  z-index: 5;
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #032541;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.header-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.header-logo {
  width: 150px;
}

.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-item {
  margin-right: 15px;
}

.auth-button {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.fa-search {
  color: #01B4E4;
}

.auth-button {
  margin-right: 25px;
}

/* INTRO */
.search {
  position: relative;
}

/* NOT FOUND */
.not-found {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  color: red;
}

/* Movies page */

.movie {
  transform: scale(1);
  transition: all .4s ease-out;
}

.moviesCardImgWrapper {
  position: relative;
}

.movie:hover {
  transform: scale(1.1);
}

.movie:hover .movieCard-bg {
  display: block;
}

.movieCard-bg {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background: linear-gradient(to bottom right,
      rgba(9.02%, 8.63%, 8.24%, 1.00),
      rgba(9.02%, 8.63%, 8.24%, 0.34));
  display: none;
}

.movies-wrapper {
  display: flex;
}

.movie-title:hover {
  color: #0CB7E5;
}

.inner-div {
  position: relative;
}

.inner-div::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom right,
      rgba(9.02%, 8.63%, 8.24%, 1.00),
      rgba(9.02%, 8.63%, 8.24%, 0.64));
  z-index: -1;
}

.movie_details{
  padding: 10px;
}
/* PROGRESS BAR */
.progress-container {
  align-items: center;
}

.progress {
  line-height: 50px;
  width: 60px;
  height: 60px;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: #07070c;
  text-align: center;
}

/* .progress::after {content: "%";} */

.progress .title {
  position: relative;
  z-index: 100;
}

.progress .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #07070c;
}

.progress .left,
.progress .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #21D07A;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.progress .left {
  animation: load1 1s linear forwards;
}

.progress:nth-of-type(2) .right,
.progress:nth-of-type(3) .right {
  animation: load2 .5s linear forwards 1s;
}

.progress:last-of-type .right,
.progress:first-of-type .right {
  animation: load3 .8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}

/* HOME */
.movieContainer {
  padding-top: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  margin-right: 20px;
  white-space: nowrap;
  font-size: 1.5em;
  font-weight: 600;
  color: #000;
}

.swiper-button-prev {
  left: 0;
}

/* SEARCH */

.searchPage {
  padding-top: 100px;
}

.catalogPage {
  padding-top: 100px;
}

/* VIEW MOVIE PAGE */
.movie-info {
height: 560px;
display: flex;
justify-content: space-evenly;
max-width: 900px;
padding-top: 50px;
}
.actor__info{
  color: #000;
}

.swiper-img{
  height: 100%;
  width: 100%;
}
.small-movie-info{
  width: 500px;
}